@import './_main';

@mixin fadeIn() {
    animation-name: fadeIn;
    animation-duration: $mainTransition * 2;
    animation-fill-mode: forwards;

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}
